.stocks-worth,
.tdx {
  position: absolute;
  line-height: 140%;
}
.tdx {
  top: 139px;
  left: 625px;
  font-weight: 800;
}
.stocks-worth {
  top: 659px;
  left: 437px;
  font-size: 10.5px;
  display: flex;
  font-family: var(--body-text-2-reg);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 325px;
  height: 107px;
}
.admin-page-1 {
  width: 100%;
  position: relative;
  background-color: var(--gray-0);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--body-s);
}
