.withdrawal1 {
  position: absolute;
  top: 301px;
  left: 549px;
  line-height: 140%;
  font-weight: 500;
}
.account-total1,
.ksh-384001 {
  position: relative;
  line-height: 140%;
}
.account-total1 {
  font-weight: 500;
}
.ksh-384001 {
  font-size: var(--heading-6-size);
}
.account-total-group,
.frame-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.account-total-group {
  width: 420px;
  flex-direction: row;
  gap: var(--gap-121xl);
}
.frame-div {
  flex-direction: column;
  gap: var(--gap-xl);
}
.submit1 {
  position: absolute;
  top: 21px;
  left: 172px;
  line-height: 140%;
  font-weight: 800;
}
.submit-container {
  width: 420px;
  position: relative;
  border-radius: var(--br-4xs);
  background-color: var(--primary-600);
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
  color: var(--gray-0);
}
.frame-container {
  position: absolute;
  top: 485px;
  left: 444px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  font-size: var(--font-size-xl);
}
.withdrawal {
  width: 100%;
  position: relative;
  background-color: var(--gray-0);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--body-s);
}
